---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import { getPostLang } from "@/utils/langUtils";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const props_ = Astro.props;
const { variant: Heading = "h2", id, data, filePath } = props_;

const { title, description, externalUrl, ...props } = data;
const lang = getPostLang(props_);
const href = externalUrl || getPath(id, filePath, true, lang);
const isExternal = !!externalUrl;
---

<li class="my-6">
  <a
    href={href}
    {...isExternal && { target: "_blank", rel: "noopener noreferrer" }}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  <Datetime {...props} />
  <p>{description}</p>
</li>
